
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KL5BNMN');</script>
  <!-- End Google Tag Manager -->

  <title>ToastBeans - Investing Made Simple</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Beginner-friendly stock analysis app that you can use to make better investment decisions. Download our iOS app today!">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="{{ "vendor/bootstrap/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ "vendor/fontawesome-free/css/all.min.css" | relative_url }}" rel="stylesheet">
  <link rel="stylesheet" href= "{{ "vendor/simple-line-icons/css/simple-line-icons.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="{{ "device-mockups/device-mockups.min.css" | relative_url }}">

  <!-- Custom styles for this template -->
  <link href="{{ "css/new-age.min.css" | relative_url }}" rel="stylesheet">
