  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{{"/" | relative_url }}">OrangePluot</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{"/#download" | relative_url }}">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{"/#features" | relative_url }}">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{"/#contact" | relative_url }}">Connect</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>